body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1.5;
    font-size: 15px;
  }
  
  .header {
    padding: 0px 16px;
    background: #003459;
    color: #f1f1f1;
    margin: 0; /* Remove any margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    z-index: 5;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  
  .container {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #105694;
  }
  
  title {
    text-align: left; 
    padding-left: 10px; 
    padding-top: 25px;
  }
  
  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: #000000;
    margin: 0;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1.4;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    float: right;
  }
  
  li a {
    font-size: .8em;
    display: inline-block;;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    }
    
  li a:hover:not(.active) {
    background-color:  #B4B4B4;
    border-radius: 13px
  }
  
  .navigation {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius:13px
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 100%; /* Position the dropdown below the .dropdown container */
    left: 0;   /* Align the dropdown with the left side of the container */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .companies:hover:not(.active) {
    background-color:  #B4B4B4;
    border-radius:13px
  }

  .bar{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
  }
  
  li a {
    font-size: .8em;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
  }

  /* top box */
  /* styles.css */
h3 {
  margin: 0px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-style: italic;
}

.blue-box {
  position: relative;
  background-color: #CFEAF9;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
  display: inline-block; /* makes margin affect the space around the box evenly*/
  margin-top: 150px;
  margin-left: 30px;
  max-width: 500px;
  left: 50%;
  transform-style: preserve-3d;
  
  transform: translate(-50%);
}

.blue-box::before {
  content: "";
  color: white;
  font-family: Arial, sans-serif;
  font-style: italic;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 2em;
  position: absolute;
  top: -60px; /* Offset 60px up */
  left: -40px; /* Adjusted to offset 40px from the left */
  width: calc(100% - 20px); /* Account for the offset */
  height: calc(100%); /* Account for the offset */
  background-color: #105694;
  z-index: -1; /* Ensure it's behind the main content */

  transform: translateZ(-1em);
}

.blue-box::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20px;
  bottom: -20px;
  width: 100px;
  height: 100px;
  background-image: url('/static/images/Juliana.jpg');
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
}

#company-title {
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 2em;
  position: absolute;
  top: -50px; /* Offset40px up */
  left: -20px; /* Adjusted to offset 20px from the left */
}

#abouttxt{
  margin-top: 0px;
}

.score {
  margin-top: 100px;
  text-align: center; /* Center the content horizontally */
}

.score ul {
  display: flex;
  justify-content: center; /* Center the flex items horizontally */
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.score ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.score li {
  margin: 0 10px; /* Add spacing between list items */
  flex: 1; /* Distribute the space evenly among list items */
}

.score img {
  width: 200px;
  height: 120px;
  background-color:#105694;
  border-radius: 5%;
}

.score h2{
  font-style: italic;
}

.score h3{
  position: relative;
  margin: 0px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 1.7em;
  font-style: italic;
  color: #ffffff;
}

.icons {
  min-width: 180px;
  max-width: 300px; 
  width: 100%;
  height: 120px; 
  background-color:#105694; /* Set background color to blue */
  border-radius: 5%; /* Optional: Add border radius for rounded corners */
  display: flex; /* Use flexbox to manage alignment */
  justify-content: center; /* Center the languages horizontally */
  align-items: center; /* Center the languages vertically */
}

.feedback{
  justify-content: center;
  margin-top: 50px;
  margin-left:10px;
  text-align:justify;

}

.hold {
  margin-left: 60px;
  margin-right: 60px;
  display: flex; /* Use flexbox to manage alignment */
  justify-content: space-between; /* Spread elements horizontally */
  align-items: center; /* Center the elements vertically */
}