/* Add your CSS styles here */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.header {
    padding: 0px 16px;
    background: #003459;
    color: #f1f1f1;
    margin: 0; /* Remove any margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    z-index: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    float: right;
}

li a {
    font-size: .8em;
    display: inline-block;;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
}
    
li a:hover:not(.active) {
    background-color:  #B4B4B4;
    border-radius: 13px
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius:13px
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 100%;
    left: 0;  
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
.companies:hover:not(.active) {
    background-color:  #B4B4B4;
    border-radius:13px
}

/*--------- banner ---------*/
.banner {
    display: flex;
    height: 320px;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    background-color: #ffffff;
}

.banner-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 10px; 
}

.banner-text {
    color: #003459;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

/*--------- image section ---------*/

.image-section {
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}
.image-section .hotel {
    width: 100%;
    height: auto;
}

.text-box {
    position: absolute;
    left: 50%;
    bottom: -75px;
    transform: translateX(-50%); 
    background-color: #0A3E6C; 
    padding: 20px; 
    border-radius: 5px; 
    height: auto;
    width: 70%;
}

.FCI {
    position: absolute;
    bottom: -60px;
    right: -60px;
    max-width: 105px;
    margin-bottom: 20px; 
}

@media screen and (max-width: 860px) {
    .text-box {
        height: 300px;
    }
  }
@media screen and (max-width: 680px) {
    .text-box {
        height: 335px;
        bottom: -100px;
    }
}
@media screen and (max-width: 615px) {
    .text-box {
        height: 355px;
        bottom: -100px;
    }
}
@media screen and (max-width: 550px) {
    .text-box {
        height: 385px;
        bottom: -145px;
    }
}

.about-title {
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about-text {
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}

/*--------- information section ---------*/
.information {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.text-column {
    flex: 2; /* Take up available space */
}

.image-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.information-title {
    color: #003459;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.information-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}

.information-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


/*--------- contacts section ---------*/
.contacts {
    margin-top: 25px;
    padding: 20px;
    margin-bottom: 100px;
}

.contacts-title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #003459;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: tretch;
    padding: 20px;
}

.column-titles {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #003459;
}
.column1 {
    flex: 1;
    text-align: center;
    margin: 10px;
    .apply-button {
        padding: 10px 20px;
        background-color: #F0801F;

        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column2 {
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.column3 {
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/*--------- footer section ---------*/
.footer {
    margin-top: 50px;
    background-color: #003459;
    color: #EDF6FF;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .footer-column {
    color: #686565;
    flex: 1;
    padding: 0 10px; 
  }
