{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SHINE</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="header" id="myHeader">
        <h2 style="font-size: 1.2em; margin-left: 70px; margin-bottom: 0px; color:white; font-family: Segoe UI,Arial,sans-serif; font-weight: 400; display: block;">S.H.I.N.E</h2>
        <div class="navigation">
            <ul>
                <li ><a style="color:white" href="/home">Home</a></li>
                <li ><a style="color:white" href="/about">About</a> </li>
                <li ><a style="color:white" href="/apply">Apply</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn" style="color:white">Companies</a>
                    <div class="dropdown-content">
                        {% for company in companies %}
                            <a class="companies" href="{% url 'companies.detail' company.id %}">{{ company.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <!-- Container (About Section) -->

   
    <div class="container">
        <div class="row blog">
            <h1 class="center mx-auto text-center py-4">Our Team Members</h1>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Dana Robins</h3>
                                <span class="post">Marketing Consultant</span>
                            </div>
                            <ul class="social">
                                <a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">John Doe</h3>
                                <span class="post">Marketing Consultant</span>
                            </div>
                            <ul class="social">
                                <a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Markus Baas</h3>
                                <span class="post">Financial Expert</span>
                            </div>
                            <ul class="social">
                                <a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Sophia Lee</h3>
                                <span class="post">Customer Support</span>
                            </div>
                            <ul class="social">
                                <a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Carousel -->
    <div class="slideshow-container">
     
    </div>

    <div class="text-block" style="margin-top: 45px; padding-right: 40px;">
        <h1 style="text-align: center; font-size: 1.7em;">Florida Community Innovation</h1>
        <p style="text-align: center;">

            The Florida Community Innovation Foundation (FCI) empowers young innovators to create scalable social services technology, connecting citizens with trusted information and resources. Our vision is an equitable Florida with access to critical services and rewarding careers. Through public service projects, our network of young professionals and students addresses key issues, enhancing resource access for Floridians.</p>
    
            <p><a href="https://floridacommunityinnovation.com/" class="button" target="_blank" style="background-color: #FA7D23;">Learn More</a></p>
        </div>
    <div class="clearfix"></div>
<!-- End of carosel -->

<h1 style="text-align: left; margin-left: 165px; margin-right: 150px; margin-top: 40px;" >Timeline</h1>

    <!-- Timeline Section -->
    <div class="timeline">
        <div class="container2 left">
            <div class="content">
                <h2>2017</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container2 right">
            <div class="content">
                <h2>2016</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <!-- Add more timeline entries as needed -->
    </div>

    <!-- Bootstrap JavaScript (jQuery is required) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="{% static 'js/about.js' %}"></script>
</body>

</html>