{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SHINE</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <div class="header" id="myHeader">
        <h2 style="font-size: 1.2em; margin-left: 70px;">S.H.I.N.E</h2>
        <div class="navigation">
            <ul>
                <li ><a href="/home">Home</a></li>
                <li ><a href="/about">About</a> </li>
                <li ><a href="/apply">Apply</a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Companies</a>
                    <div class="dropdown-content">
                        {% for company in companies %}
                            <a class="companies" href="{% url 'companies.detail' company.id %}">{{ company.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                
            </ul>
        </div>
    </div>

    <header>
        <h1 style="text-align: left; padding-left: 10px;">Anti-Human Trafficking Training Certification Database</h1>
        
    </header>
    
    <div class="container">
        <h1 style="text-align: center;">About SHINE</h1>
        <h2>Our Mission</h2>
        <p>[Mission Statement]</p>

        <h2>Meet the Team</h2>
        <ul>
            <li><strong>Florida Community Innovation</strong> - Title</li>
            <li><strong>Person 1</strong> - Title</li>
            <li><strong>Person 2</strong> - Title</li>
            <li><strong>Person 3</strong> - Title</li>
        </ul>
    </div>
    <script src="{% static 'js/about.js' %}"></script>
</body>

</html>