{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SHINE</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="header" id="myHeader">
        <h2 style="font-size: 1.2em; margin-left: 70px; color:white">S.H.I.N.E</h2>
        <div class="navigation">
            <ul>
                <li ><a style="color:white" href="/home">Home</a></li>
                <li ><a style="color:white" href="/about">About</a> </li>
                <li ><a style="color:white" href="/apply">Apply</a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn" style="color:white">Companies</a>
                    <div class="dropdown-content">
                        {% for company in companies %}
                            <a class="companies" href="{% url 'companies.detail' company.id %}">{{ company.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <!-- Container (About Section) -->

    <h1 style="text-align: left; margin-left: 165px; margin-right: 150px; margin-top: 40px;" >2023 - 2024 Team</h1>
    <div class="row" style="margin-left: 150px; margin-right: 150px;">
        <div class="column">
          <div class="content">
            <img src="/static/images/Juliana.jpg" alt="Mountains" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        <div class="column">
          <div class="content">
          <img src="/static/images/Juliana.jpg" alt="Lights" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        <div class="column">
          <div class="content">
          <img src="/static/images/Juliana.jpg" alt="Nature" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        
      </div>

      <div class="row" style="margin-left: 150px; margin-right: 150px;">
        <div class="column">
          <div class="content">
            <img src="/static/images/Juliana.jpg" alt="Mountains" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        <div class="column">
          <div class="content">
          <img src="/static/images/Juliana.jpg" alt="Lights" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        <div class="column">
          <div class="content">
          <img src="/static/images/Juliana.jpg" alt="Nature" style="width:100%">
            <h3>Juliana Lucas</h3>
            <p>Frontend/Backend</p>
            <p><a href="https://www.linkedin.com/in/juliana-lucas/" class="button" target="_blank">LinkedIn</a></p>
        </div>
        </div>
        
      </div>

    <!-- End of Container (About Section) -->

    <!-- carosel -->
 

    <!-- End of carosel -->

    <!-- Timeline Section -->
    <div class="timeline">
        <div class="container2 left">
            <div class="content">
                <h2>2017</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container2 right">
            <div class="content">
                <h2>2016</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <!-- Add more timeline entries as needed -->
    </div>

    <script src="{% static 'js/about.js' %}"></script>
</body>

</html>